<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<postcodenl_api>
			<general>
				<enabled>0</enabled>
			</general>
			<advanced_config>
				<never_hide_country>1</never_hide_country>
			</advanced_config>
		</postcodenl_api>
	</default>
</config>